@page "/Details/{Id}"
@inject AuthenticationStateProvider authProvider
@inject IUserData UserData
@inject ISuggestionData SuggestionData
@inject NavigationManager NavManager


<h1>Suggestion Details</h1>

<div>
    <div>
        @if (_suggestion is not null)
        {
            <div>
                <div>
                    <div @onclick="VoteUp">
                        <div>@GetUpvoteTopText()</div>
                        <span class="oi oi-caret-top"></span>
                        <div>@GetUpvoteBottomText()</div>
                    </div>
                    <div>
                        <div>@_suggestion.DateCreated.ToString("MM.dd.yyyy")</div>
                    </div>
                </div>
                <div>
                    <div>@_suggestion.Suggestion</div>
                    <div>@_suggestion.Author.DisplayName</div>
                    <div>@_suggestion.Description</div>
                    <div>
                        @_suggestion.Category.CategoryName
                    </div>
                </div>
                <div>
                    <button @onclick="ClosePage">Close</button>
                </div>
            </div>
        }
    </div>
</div>

@if (_suggestion?.SuggestionStatus is not null)
{
    <div>
        <div>
            <div></div>
            <div>
                <div>
                    @_suggestion.SuggestionStatus.StatusName
                </div>
                <div>
                    @((MarkupString)_suggestion.OwnerNotes)
                </div>
            </div>
        </div>
    </div>
}


@code
{
    [Parameter]
    public string Id { get; set; }

    private SuggestionModel _suggestion;
    private UserModel _loggedInUser;

    protected override async Task OnInitializedAsync()
    {
        _suggestion = await SuggestionData.GetSuggestion(Id);
        _loggedInUser = await authProvider.GetUserFromAuth(UserData);
    }

    private void ClosePage()
    {
        NavManager.NavigateTo("/");
    }

    private string GetUpvoteTopText()
    {
        if (_suggestion.UserVotes?.Count > 0)
        {
            return _suggestion.UserVotes.Count.ToString("00");
        }
        if (_suggestion.Author.Id == _loggedInUser?.Id)
        {
            return "Awaiting";
        }
        
        return "Click To";
        
    }

    private string GetUpvoteBottomText()
    {
        if (_suggestion.UserVotes?.Count > 1)
        {
            return "Upvotes";
        }
        return "Upvotes";
    }

    private async Task VoteUp()
    {
        if (_loggedInUser is not null)
        {
            if (_suggestion.Author.Id == _loggedInUser.Id)
            {
    // Can't Vote on your own suggestion
                return;
            }
            if (_suggestion.UserVotes.Add(_loggedInUser.Id) == false)
            {
                _suggestion.UserVotes.Remove(_loggedInUser.Id);
            }

            await SuggestionData.UpvoteSuggestion(_suggestion.Id, _loggedInUser.Id);
        }
        else
        {
            NavManager.NavigateTo("/MicrosoftIdentity/Account/SignIn", true);
        }
    }
}
