@page "/"
@inject AuthenticationStateProvider authProvider
@inject ICategoryData CategoryData
@inject IStatusData StatusData
@inject IUserData UserData
@inject ISuggestionData SuggestionData
@inject NavigationManager NavManager
@inject ProtectedSessionStorage SessionStorage

<h1 class="page-heading text-uppercase mb-4">Training Suggestions</h1>
<div class="suggestion-container">
    <button class="suggest-btn btn btn-outline-light btn-lg text-uppercase" @onclick="LoadCreatePage">Suggest</button>
</div>

<div class="row">
    <div class="suggestion-count col-md-4 text-light mt-2">@_suggestions?.Count suggestion</div>
    <div class="col-md-4 col-xl-5 btn-group">
        <button class="btn btn-order @SortedByNewClass(true)" @onclick="() => OrderByNew(true)">New</button>
        <button class="btn btn-order @SortedByNewClass(false)" @onclick="() => OrderByNew(false)">Popular</button>
    </div>
    <div class="col-md-4 col-xl-3 search-box">
        <input type="text" placeholder="Search"
               aria-label="Search box" class="form-control rounded-control"
               @oninput="text => OnSearchInput((string)text.Value!)"/>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-xl-9">
        @if (_suggestions is not null)
        {
            <Virtualize Items="_suggestions" Context="s" OverscanCount="10">
                <div class="suggestion-entry">
                    <div class="@GetVoteClass(s)" @onclick="() => VoteUp(s)">
                        <div class="text-uppercase">@GetUpvoteTopText(s)</div>
                        <span class="oi oi-caret-top" style="font-size: 3rem;"></span>
                        <div class="text-uppercase">@GetUpvoteBottomText(s)</div>
                    </div>
                    <div>
                        <div class="suggestion-entry-text-title" @onclick="() => OpenDetails(s)">
                            @s.Suggestion
                        </div>
                    </div>
                    <div>
                        <div class="suggestion-entry-text-category" @onclick="() => OpenDetails(s)">
                            @s.Category?.CategoryName
                        </div>
                    </div>
                    <div calss="suggestion-entry-status @GetSuggestionStatusClass(s)">
                        <div class="suggestion-entry-status-text">
                            @s.SuggestionStatus?.StatusName
                        </div>
                    </div>
                </div>
            </Virtualize>
        }
    </div>
    <div class="col-md-4 col-xl-3">
        @if (_categories is not null)
        {
            <div class="categories">
                <span class="text-uppercase fw-bold">Category</span>
                <div class="@GetSelectedCategory()" @onclick="() => OnCategoryClick()">All</div>
                @foreach (var c in _categories)
                {
                    <div class="@GetSelectedCategory(c.CategoryName)" @onclick="() => OnCategoryClick(c.CategoryName)">@c.CategoryName</div>
                }
            </div>
        }
        @if (_statuses is not null)
        {
            <div class="statuses">
                <span class="text-uppercase fw-bold">Status</span>
                <div class="@GetSelectedStatus()" @onclick="() => OnStatusClick()">All</div>
                @foreach (var c in _statuses)
                {
                    <div class="@GetSelectedStatus(c.StatusName)" @onclick="() => OnStatusClick(c.StatusName)">@c.StatusName</div>
                }
            </div>
        }
    </div>
</div>

@code
{
    private UserModel _loggedInUser;
    private List<SuggestionModel> _suggestions;
    private List<CategoryModel> _categories;
    private List<StatusModel> _statuses;

    private string _selectedCategory = "All";
    private string _selectedStatus = "All";
    private string _searchText = "";
    bool _isSortedByNew = true;

    protected override async Task OnInitializedAsync()
    {
        _categories = await CategoryData.GetAllCategories();
        _statuses = await StatusData.GetAllStatuses();
        await LoadAndVerifyUser();
    }

    private async Task LoadAndVerifyUser()
    {
        var authState = await authProvider.GetAuthenticationStateAsync();
        string objectId = authState.User.Claims.FirstOrDefault(c => c.Type.Contains("objectidentifier"))?.Value;

        if (string.IsNullOrWhiteSpace(objectId) == false)
        {
            _loggedInUser = await UserData.GetUserFromAuthentication(objectId) ?? new();

            string firstName = authState.User.Claims.FirstOrDefault(c => c.Type.Contains("givenname"))?.Value;
            string lastName = authState.User.Claims.FirstOrDefault(c => c.Type.Contains("surname"))?.Value;
            string displayName = authState.User.Claims.FirstOrDefault(c => c.Type.Equals("name"))?.Value;
            string email = authState.User.Claims.FirstOrDefault(c => c.Type.Contains("email"))?.Value;

            bool isDirty = false;
            if (objectId.Equals(_loggedInUser.ObjectIdentifier) == false)
            {
                isDirty = true;
                _loggedInUser.ObjectIdentifier = objectId;
            }
            if (firstName.Equals(_loggedInUser.FirstName) == false)
            {
                isDirty = true;
                _loggedInUser.FirstName = firstName;
            }
            if (lastName.Equals(_loggedInUser.LastName) == false)
            {
                isDirty = true;
                _loggedInUser.LastName = lastName;
            }
            if (displayName.Equals(_loggedInUser.DisplayName) == false)
            {
                isDirty = true;
                _loggedInUser.DisplayName = displayName;
            }
            if (email.Equals(_loggedInUser.EmailAddress) == false)
            {
                isDirty = true;
                _loggedInUser.EmailAddress = email;
            }
            if (isDirty)
            {
                if (string.IsNullOrWhiteSpace(_loggedInUser.Id))
                {
                    await UserData.CreateUser(_loggedInUser);
                }
                else
                {
                    await UserData.UpdateUser(_loggedInUser);
                }
            }
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadFilterState();
            await FilterSuggestions();
            StateHasChanged();
        }
    }

    private async Task LoadFilterState()
    {
        var stringResults = await SessionStorage.GetAsync<string>(nameof(_selectedCategory));
        _selectedCategory = stringResults.Success ? stringResults.Value : "All";

        stringResults = await SessionStorage.GetAsync<string>(nameof(_selectedStatus));
        _selectedStatus = stringResults.Success ? stringResults.Value : "All";

        stringResults = await SessionStorage.GetAsync<string>(nameof(_searchText));
        _searchText = stringResults.Success ? stringResults.Value : "";

        var boolResults = await SessionStorage.GetAsync<bool>(nameof(_isSortedByNew));
        _isSortedByNew = stringResults.Success ? boolResults.Value : true;
    }

    private async Task SaveFilterState()
    {
        await SessionStorage.SetAsync(nameof(_selectedCategory), _selectedCategory);
        await SessionStorage.SetAsync(nameof(_selectedStatus), _selectedStatus);
        await SessionStorage.SetAsync(nameof(_searchText), _searchText);
        await SessionStorage.SetAsync(nameof(_isSortedByNew), _isSortedByNew);
    }

    private async Task FilterSuggestions()
    {
        var output = await SuggestionData.GetAllApprovedSuggestion();

        if (_selectedCategory != "All")
        {
            output = output.Where(s => s.Category?.CategoryName == _selectedCategory).ToList();
        }

        if (_selectedStatus != "All")
        {
            output = output.Where(s => s.SuggestionStatus?.StatusName == _selectedStatus).ToList();
        }

        if (string.IsNullOrWhiteSpace(_searchText) == false)
        {
            output = output.Where(
                s => s.Suggestion.Contains(_searchText, StringComparison.InvariantCultureIgnoreCase) ||
                     s.Description.Contains(_searchText, StringComparison.InvariantCultureIgnoreCase)
                ).ToList();
        }

        if (_isSortedByNew)
        {
            output = output.OrderByDescending(s => s.DateCreated).ToList();
        }
        else
        {
            output = output.OrderByDescending(s => s.UserVotes.Count)
                .ThenByDescending(s => s.DateCreated)
                .ToList();
        }

        _suggestions = output;

        await SaveFilterState();
    }

    private async Task OrderByNew(bool isNew)
    {
        _isSortedByNew = isNew;
        await FilterSuggestions();
    }

    private async Task OnSearchInput(string? searchInput)
    {
        _searchText = searchInput;
        await FilterSuggestions();
    }

    private async Task OnCategoryClick(string category = "All")
    {
        _selectedCategory = category;
        await FilterSuggestions();
    }

    private async Task OnStatusClick(string status = "All")
    {
        _selectedStatus = status;
        await FilterSuggestions();
    }

    private async Task VoteUp(SuggestionModel suggestion)
    {
        if (_loggedInUser is not null)
        {
            if (suggestion.Author.Id == _loggedInUser.Id)
            {
                // Can't Vote on your own suggestion
                return;
            }
            if (suggestion.UserVotes.Add(_loggedInUser.Id) == false)
            {
                suggestion.UserVotes.Remove(_loggedInUser.Id);
            }

            await SuggestionData.UpvoteSuggestion(suggestion.Id, _loggedInUser.Id);

            if (_isSortedByNew == false)
            {
                _suggestions = _suggestions
                    .OrderByDescending(s => s.UserVotes.Count)
                    .ThenByDescending(s => s.DateCreated)
                    .ToList();
            }
        }
        else
        {
            NavManager.NavigateTo("/MicrosoftIdentity/Account/SignIn", true);
        }
    }

    private string GetUpvoteTopText(SuggestionModel suggestion)
    {
        if (suggestion.UserVotes?.Count > 0)
        {
            return suggestion.UserVotes.Count.ToString("00");
        }
        if (suggestion.Author.Id == _loggedInUser?.Id)
        {
            return "Awaiting";
        }
        else
        {
            return "Click To";
        }
    }

    private string GetUpvoteBottomText(SuggestionModel suggestion)
    {
        if (suggestion.UserVotes?.Count > 1)
        {
            return "Upvotes";
        }
        return "Upvotes";
    }

    private void OpenDetails(SuggestionModel suggestion)
    {
        NavManager.NavigateTo($"/Details/{suggestion.Id}");
    }

    private void LoadCreatePage()
    {
        if (_loggedInUser is not null)
        {
            NavManager.NavigateTo("/Create");
        }
        else
        {
            NavManager.NavigateTo("/MicrosoftIdentity/Account/SignIn", true);
        }

    }

    private string SortedByNewClass(bool isNew)
    {
        if (isNew == _isSortedByNew)
        {
            return "sort-selected";
        }

        return "";
    }

    private string GetVoteClass(SuggestionModel suggestion)
    {
        if (suggestion.UserVotes is null || suggestion.UserVotes.Count == 0)
        {
            return "suggestion-entry-no-votes";
        }
        else if(suggestion.UserVotes.Contains(_loggedInUser?.Id))
        {
            return "suggestion-entry-voted";
        }
        else
        {
            return "suggestion-entry-not-voted";
        }
    }

    private string GetSuggestionStatusClass(SuggestionModel suggestion)
    {
        if (suggestion is null || suggestion.SuggestionStatus is null)
        {
            return "suggestion-entry-status-none";
        }

        string output = suggestion.SuggestionStatus.StatusName switch
            {
            "Completed" => "suggestion-entry-status-completed",
            "Watching" => "suggestion-entry-status-watching",
            "Upcoming" => "suggestion-entry-status-upcoming",
            "Dismissed" => "suggestion-entry-status-dismissed",
            _ => "suggestion-entry-status-none"

            };
        return output;
    }

    private string GetSelectedCategory(string category = "All")
    {
        if (category == _selectedCategory)
        {
            return "selected-category";
        }
        else
        {
            return "";
        }
    }

    private string GetSelectedStatus(string status = "All")
    {
        if (status == _selectedStatus)
        {
            return "selected-status";
        }
        else
        {
            return "";
        }
    }
}